$blue: #1877f2;
$green: #42b72a;
$border-radius: 0;
$gray-600: rgb(245, 245, 245);
$paragraph-margin-bottom: 0;
@import 'bootstrap/scss/bootstrap';

body {
	min-height: 100vh;
	background: radial-gradient(100% 225% at 100% 0%, #faff00 0%, #000000 100%),
		linear-gradient(235deg, #ff7a00 0%, #000000 100%),
		linear-gradient(
			20deg,
			#241e92 0%,
			#241e92 30%,
			#5432d3 calc(30% + 1px),
			#5432d3 35%,
			#7b6cf6 calc(35% + 1px),
			#7b6cf6 50%,
			#e5a5ff calc(50% + 1px),
			#e5a5ff 100%
		),
		linear-gradient(
			120deg,
			#110133 0%,
			#110133 40%,
			#00918e calc(40% + 1px),
			#00918e 60%,
			#4dd599 calc(60% + 1px),
			#4dd599 70%,
			#ffdc34 calc(70% + 1px),
			#ffdc34 100%
		);
	background-blend-mode: overlay, hard-light, overlay, normal;
	.user-div:hover {
		background-color: rgb(250, 250, 250);
	}
}

.messages-box {
	height: 500px;
	overflow-y: scroll;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.user-image {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}
.message-input::placeholder {
	color: rgba(0, 0, 0, 0.5);
}
.info-text {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	margin-bottom: 0.5rem;
}
.react-button-popover {
	height: 30px;
}
.react-icon-button {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 1rem;
	transition: 0.25s;
	&:hover {
		text-decoration: none;
		font-size: 1.5rem;
	}
}

.btn:focus {
	box-shadow: none;
}
.reactions-div {
	position: absolute;
	right: -10px;
	bottom: -25px;
	font-size: 0.9rem;
}
